{% extends 'core/base.html' %}

{% block titulo %}
Dashboard - Campus ID
{% endblock %}

{% block contenido %}

<h1>Dashboard</h1>

<br>

<div class="cards">

    <div class="card">
        <h3>Total Estudiantes</h3>
        <p>{{ total_estudiantes }}</p>
    </div>

    <div class="card">
        <h3>Huellas Registradas</h3>
        <p>{{ total_huellas }}</p>
    </div>

    <div class="card">
        <h3>Asistencias Hoy</h3>
        <p>{{ asistencias_hoy }}</p>
    </div>

    <div class="card">
        <h3>Última Asistencia</h3>

        <p>
            {% if ultima_asistencia %}
                {{ ultima_asistencia.estudiante.nombre }}
            {% else %}
                --
            {% endif %}
        </p>

    </div>

</div>

{% endblock %}