*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    display:flex;
    background:#f4f6f9;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    height:100vh;
    background:#0f172a;
    color:white;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    padding:25px;
    border-bottom:1px solid #1e293b;
}

.logo h2{
    color:#38bdf8;
}

.logo span{
    font-size:13px;
    color:#94a3b8;
}

.menu{
    margin-top:20px;
}

.menu a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    transition:.3s;
}

.menu a:hover{
    background:#1e293b;
}

.contenido{
    margin-left:260px;
    width:100%;
    padding:30px;
}

/* TARJETAS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.card h3{
    color:#64748b;
}

.card p{
    font-size:28px;
    font-weight:bold;
    margin-top:10px;
}

/* TABLAS */

table{
    width:100%;
    background:white;
    border-collapse:collapse;
}

th{
    background:#0f172a;
    color:white;
    text-align:left;
    padding:14px;
}

td{
    padding:14px;
    border-bottom:1px solid #e2e8f0;
}

tr:hover{
    background:#f8fafc;
}

.btn{
    display:inline-block;
    margin-bottom:20px;
    padding:10px 20px;
    text-decoration:none;
    color:white;
    background:#2563eb;
    border-radius:6px;
}